<div class="bar bar-header bar-balanced">
    <button class="button button-icon icon ion-android-arrow-back" onclick="carregar_sentimentos()"></button>
    <h1 class="title">Meu Sentimento</h1>
    <div class="buttons">
        <button class="button icon ion-edit" onclick="myVue.editando = !myVue.editando;"></button>
        <button class="button icon ion-trash-a" onclick="apagar_sentimento()"></button>

    </div>
</div>
<div class="content has-header padding">
    <div class="list">
        <label class="item item-input item-stacked-label">
            <span class="input-label balanced">Como você se sente (sentiu)?</span>
            <input id='sentimento' type="text" v-bind:readonly="!editando" placeholder="#angustiado, #envergonhado, #humilhado, #raiva" v-model="sentimento.sentimento">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label balanced">O que aconteceu?</span>
            <textarea id='acontecido' v-bind:readonly="!editando" rows="2" style='width: 100%' placeholder='O que te deixou assim??' v-model="sentimento.acontecido"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label balanced">O que você pensou logo depois?</span>
            <textarea id='pensamento' v-bind:readonly="!editando" rows="2" style='width: 100%' placeholder='Pensou que era real? Correto? Errado?' v-model="sentimento.pensamento"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label balanced">Qual foi sua atitude? Ou será?</span>
            <textarea id='atitude' v-bind:readonly="!editando" rows="2" style='width: 100%' placeholder='Chorar? Rir? Correr? Fugir?' v-model="sentimento.atitude"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label balanced">Quando foi?</span>
            <input id='quando' v-bind:readonly="!editando" type="date" v-model="sentimento.quando" v-bind:max="new Date().toISOString().split('T')[0]">
        </label>
        <div class="item range item-stacked-label">
            <span class="input-label balanced">Humorômetro</span>
            <input id='pontuacao' type="range" min="-100" max="100" v-bind:disabled="!editando" v-model='sentimento.pontuacao' v-bind:style="{ backgroundColor: getColorForPercentage(sentimento.pontuacao / 200 + 0.5) }">
        </div>
    </div>
    <div style="text-align:right" v-if="editando">
        <button class="button button-balanced" onclick='salvar_alteracao()'>
            Salvar
        </button>
        <button class="button button-balanced" onclick="descartar_alteracao()">
            Descartar
        </button>
    </div>
</div>